@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-exact-active {
  color: blue;
}
section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.hero {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

h1, h2 {
  font-family: Instrument Sans, sans-serif;
  font-weight: 600;
}

p {
  font-family: Instrument Sans, sans-serif;
  font-weight: 400;
}